@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

.font-akaya-kanadaka{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color-main {
    color: #8800ff;
}

.btn-primary{
    background-color: #8800ff;
}

.btn-solid-primary{
    color: #8800ff;
    @apply bg-purple-100 hover:bg-purple-200;
}

.navbar-item{
    padding: 0;
}

.navbar-item i {
    @apply text-gray-600 cursor-pointer hover:text-purple-600 border p-2 rounded-md border-white hover:bg-purple-100;
    font-size: 22px;
}

.navbar{
    box-shadow: none !important;
    padding: 0;
    margin: 0;
}

#choose-images{
    height: 1px;
    width: 1px;
    position: absolute;
    top: -10000px;
}

.image-preview{
    @apply max-w-36 text-center font-rubik text-gray-500 text-sm relative;

    >div.__image{
        @apply border-purple-400 rounded-sm border flex justify-center items-center max-h-28 overflow-hidden p-1 mb-2;

        > img {
            border-radius: 2px;
            vertical-align: middle;
        }

        
    }

    > h4{
        @apply text-lg text-gray-700 mb-1;
    }

    > i {
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 9;
        @apply text-rose-600 bg-rose-200 px-1 py-0.5 rounded-full cursor-pointer;
    }
}